@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}


body{
    
    background: url('../images/fondoindex.jpg') repeat center center;
    background-size: cover;
    margin-bottom: 2%;
}
.select {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Cambia el color de fondo */
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
}

.image-container {
    position: relative;
    width: 100%;
   

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select:hover {
    background-color: #4e7c52; /* Cambia el color al pasar el mouse */
}

.btn-1 {
    margin-top: auto; /* Esto empuja el botón hacia abajo */
}

.diagrama img{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

/* diagram */

.diagram{
    text-align: center;
}

.diagram .subtitle{
    color: #111111;
    font-size: 50px;
    margin-top: 50px;
    font-weight: bold;
}

.diagram__table{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.diagram__element{
    background-color: rgb(20, 30, 55);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 30%;
    padding: 40px;
    --bg-cta: #fff;
    --color-cta: #000000;
    --color-items: #696871;
}



.diagram__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.diagram__diagram{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 8%;

}

.diagram__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.diagram__cta{
    display: block;
    padding: 20px 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.diagram__cta:hover {
    background-color: #c5c5c5; /* Cambia el color al pasar el mouse */
}

.btn-1 {
    margin-top: auto; /* Esto empuja el botón hacia abajo */
}