*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
  }

nav {
    background-color: #33C5A2;
    color: white;
    padding: 10px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar .home {
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-bar .logo {
    flex-grow: 1;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; 
}

#drawingCanvas {
    height: 600px; 
    background-image: 
        linear-gradient(to right, #f1f1f1 1px, transparent 1px), 
        linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
    background-size: 20px 20px; 
}

